@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Base */
  --fundo: #F3F4ED;            
  --fundo-card: #E0E0DC;       

  /* Textos */
  --titulo: #1B5E20;          
  --texto: #2E2E2E;            

  /* Cores principais */
  --primaria: #2E7D32;       
  --primaria-escura: #1B5E20;
  --secundaria: #5D4037;      

  /* Destaque */
  --destaque: #F9A825;         

  /* Botões */
  --botao-fundo: #2E7D32;
  --botao-hover: #1B5E20;
  --botao-texto: #FFFFFF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}